header {
  position: relative;
  height: auto;
  padding: 0 50px;
  background: $colorOne;
  color: $colorBackground;
  .content {
    z-index: 2;
    position: relative;
    padding: 100px 0;
    width: 100%;
    top: 50%;
    a {
      color: $colorBackground;
      text-decoration: none;
      font-size: 0.9rem;
      font-weight: 400;
    }
    .button {
      background: $colorBackground;
      color: $colorTwo;
      font-size: 1.5rem;
      display: inline-block;
      margin-bottom: $gutter/3;
      height: auto;
      border: 0;
    }
    svg .fill{
      fill: $colorWhite;
    }
  }
}

.triangle {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
  svg {
    fill: $colorTwo;
    width: 100%;
    height: 100%;
  }
}

aside.sidebar {
  padding: 50px;
  .fixed {
    position: fixed;
    top: $gutter;
  }
}

article.documentation {
  padding: $gutter;
  background-color: #fff;
}
