body {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  line-height: $lineHeight;
  letter-spacing: 0.33px;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  line-height: $lineHeight;
  display: block;
  margin-bottom: $gutter/3;
  a {
    text-decoration: none;
  }
}
h1, .h1 {
  font-size: 4rem;
  font-weight: $fontBold;
  letter-spacing: 0.5px
}
h2, .h2 {
  font-size: 2.31rem;
  font-weight: $fontLight;
  letter-spacing: 0.5px
}
h3, .h3 {
  font-size: 2rem;
}
h4, .h4 { font-size: 1.5rem; }
h5, .h5 { font-size: 1.2rem; }
h6, .h6 { font-size: 1.1rem; }

p {
  font-size: 1rem;
  font-weight: $fontRegular;
  line-height: $lineHeight;
  margin-bottom: 1.4rem;
}

a {
  color: $colorOne;
  cursor: pointer;
  @include transition();
  &:hover, &:focus {
    color: darken($colorOne, 5%);
  }
}

hr {
  border: 0;
  border-top: $borderWeight $borderStyle $colorText;
  margin: $gutter/1.5 0;
}

strong, b {
  font-weight: $fontBold;
}

small {
  font-size: 0.8rem;
}

i {
  font-style: italic;
}

.rte {
  // TBA
  h2 {
    margin-top: $gutter;
  }
  ul, ol {
    list-style: initial;
    list-style-position: inside;
    margin-bottom: $gutter/2;
    li {
      list-style: inherit;
      list-style-position: inherit;
      font-weight: $fontLight;
      font-size: 1.15rem;
      line-height: 2;
      margin-bottom: $gutter/3;
    }
  }
  ol {
    list-style-type: decimal;
  }
}
aside.sidebar {
  h3 {
    font-weight: $fontBold;
    color: $colorTwo;
  }
  h4 {
    font-weight: $fontBold;
    margin-bottom: 0;
  }
  li {
    font-size: 1.15rem;
    font-weight: $fontLight;
    .active {
      font-weight: $fontBold;
    }
  }
  a {
    color: lighten($colorText, 2%);
    text-decoration: none;
    transition: none;
    .active {
      color: $colorText;
    }
  }
  ul {
    margin-bottom: $gutter / 2;
  }
}
article.documentation {
  h2 {
    font-weight: $fontBold;
    color: $colorText;
  }
  h3 {
    font-size: 1.5rem;
    margin: $gutter 0 $gutter/2 0 ;
  }
  ol, ul {
    margin-left: $gutter/2;
    list-style: initial;
  }
}
